<div class="component-editor">
	<header class="component-editor-header">
		<nav class="component-editor-commands">
			<a title="撤销" class="icon-undo no" data-cmd="undo"></a>
			<a title="恢复" class="icon-redo no" data-cmd="redo"></a>
			<i></i>
			<a title="加粗" data-cmd="bold" data-alt="B"></a>
			<a title="斜体" data-cmd="italic" data-alt="I"></a>
			<a title="下划线" data-cmd="underline" data-alt="U"></a>
			<a title="删除线" data-cmd="linethrough" data-alt="abc"></a>
			<a title="上标" data-cmd="sup" data-alt="X"></a>
			<a title="下标" data-cmd="sub" data-alt="X"></a>
			<i></i>
			<a title="字体" data-cmd="family" data-alt="F">
				<ul class="component-editor-menu" style="display:none">
					<li class="simsun def cur">宋体(默认)</li>
					<li class="simsun">宋体</li>
					<li class="nsimsun">新宋体</li>
					<li class="fangsong">仿宋</li>
					<li class="simhei">黑体</li>
					<li class="kaiti">楷体</li>
					<li class="lisu">隶书</li>
					<li class="youyuan">幼圆</li>
					<li class="microsoft-yahei">微软雅黑</li>
					<li class="arial">Arial</li>
					<li class="arial-black">Arial Black</li>
					<li class="comic-sans-ms">Comic Sans MS</li>
					<li class="courier">Courier</li>
					<li class="systems">System</li>
					<li class="times-new-roman">Times New Roman</li>
					<li class="verdana">Verdana</li>
					<li class="georgia">Georgia</li>
				</ul>
			</a>
			<a title="字体大小" data-cmd="size" data-alt="T">
				<ul class="component-editor-menu no-line-height" style="display:none">
					<li class="medium def cur" data-cmd="3">默认大小</li>
					<li class="x-small" data-cmd="1">极小</li>
					<li class="small" data-cmd="2">特小</li>
					<li class="medium" data-cmd="3">小</li>
					<li class="large" data-cmd="4">中</li>
					<li class="x-large" data-cmd="5">大</li>
					<li class="xx-large" data-cmd="6">特大</li>
					<li class="xxx-large" data-cmd="7">极大</li>
				</ul>
			</a>
			<a title="字体颜色" data-cmd="color" data-alt="A">
				<ul class="component-editor-menu left coluor" style="display:none">
					<li class="black def cur">黑色(默认)</li>
					<li class="black">黑色</li>
					<li class="darkred">暗红色</li>
					<li class="purple">紫色</li>
					<li class="red">红色</li>
					<li class="f0f">鲜粉色</li>
					<li class="navy">深蓝色</li>
					<li class="blue">蓝色</li>
					<li class="c0ff">湖蓝色</li>
					<li class="c008080">湖绿色</li>
					<li class="green">绿色</li>
					<li class="olive">橄榄色</li>
					<li class="palegreen">浅绿色</li>
					<li class="orange">橙色</li>
					<li class="yellow">黄色</li>
					<li class="gray">灰色</li>
					<li class="silver">银色</li>
					<li class="white">白色</li>
				</ul>
			</a>
			<a title="字体背景" data-cmd="background" data-alt="ab">
				<ul class="component-editor-menu left coluor" style="display:none">
					<li class="white def cur">白色(默认)</li>
					<li class="black">黑色</li>
					<li class="darkred">暗红色</li>
					<li class="purple">紫色</li>
					<li class="red">红色</li>
					<li class="f0f">鲜粉色</li>
					<li class="navy">深蓝色</li>
					<li class="blue">蓝色</li>
					<li class="c0ff">湖蓝色</li>
					<li class="c008080">湖绿色</li>
					<li class="green">绿色</li>
					<li class="olive">橄榄色</li>
					<li class="palegreen">浅绿色</li>
					<li class="orange">橙色</li>
					<li class="yellow">黄色</li>
					<li class="gray">灰色</li>
					<li class="silver">银色</li>
					<li class="white">白色</li>
				</ul>
			</a>
			<a title="清除格式" data-cmd="clear" data-alt="A"></a>
			<i></i>
			<a title="对齐方式" class="icon-justify" data-cmd="justify">
				<ul class="component-editor-menu left" style="display:none">
					<li class="icon-justify-left" data-cmd="justifyLeft">左对齐</li>
					<li class="icon-justify-center" data-cmd="justifyCenter">居中对齐</li>
					<li class="icon-justify-right" data-cmd="justifyRight">右对齐</li>
					<li class="icon-justify-full" data-cmd="justifyFull">两端对齐</li>
				</ul>
			</a>
			<a title="设置列表" class="icon-list" data-cmd="list">
				<ul class="component-editor-menu left" style="display:none">
					<li class="icon-list-order" data-cmd="insertOrderedList">数字列表</li>
					<li class="icon-list-unorder" data-cmd="insertUnorderedList">符号列表</li>
				</ul>
			</a>
			<a title="设置缩进" class="icon-indent" data-cmd="indent">
				<ul class="component-editor-menu left" style="display:none">
					<li class="icon-indent-increase" data-cmd="indent">增加缩进</li>
					<li class="icon-indent-decrease" data-cmd="outdent">减少缩进</li>
				</ul>
			</a>
			<i></i>
			<a title="添加图片" class="icon-image" data-cmd="image"></a>
			<a title="添加表情" class="icon-face" data-cmd="face"></a>
			<a title="添加超链接" class="icon-link" data-cmd="link"></a>
			<a title="删除超链接" class="icon-unlink" data-cmd="unlink"></a>
			<a title="添加日期" class="icon-date" data-cmd="date"></a>
		</nav>
	</header>
	<article class="component-editor-content">
		<iframe src="/components/editor_body.html"></iframe>
	</article>
	<div class="component-editor-url-dialog"></div>
	<div class="component-editor-image-dialog"></div>
	<div class="component-editor-face-container"></div>
</div>