extends layout

block header	
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/index.css')

block content
	include header.jade

	a(href = '/note') 记个事儿吧

	include footer.jade

block footer