extends layout

block header
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/scrollbar.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/fonticon.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/note.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/button.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/form_view.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/alert_tip.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/editor.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/accordion.css')
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/emoticon.css')
	

block content
	header.header
		h3 记个事儿吧，就不会忘了！
	article.content
		nav
			a.icon-home(title = "首页", href="/")
			a.icon-note-type(title = "新建类别", data-type = "type")
			a.icon-note-book(title = "新建记事本", data-type = "book")
			a.icon-note-note(title = "新建记事", data-type = "note")

		section.clearfix
			//- a.arrow_up
			.typebox
				.vbar
				span.blur
				ul#typelist
			//- a.arrow_down
			//- a.arrow_left
			.bookbox
				ul.clearfix#booklist
			//- a.arrow_right

		.notebox(style = "display: none;")
			ul#notelist

		.typeform
		.bookform
		.noteform

block footer
	script(type = "text/javascript", src = "http://lib.dodo.com.cn:8888/My.js")
	script(type = "text/javascript", src = "/static/scripts/form_view.js")
	script(type = "text/javascript", src = "/static/scripts/alert_tip.js")
	script(type = "text/javascript", src = "/static/scripts/accordion.js")
	script(type = "text/javascript", src = "/static/scripts/emoticon.js")
	script(type = "text/javascript", src = "/static/scripts/editor.js")
	script(type = "text/javascript", src = "/static/scripts/note.js")