extends layout

block header
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/note.css')

block content
	header
		h3 记个事儿吧，就不会忘了！

block footer
	script(type = "text/javascript", src = "/static/scripts/note.js")