extends layout

block header
	link(rel = 'stylesheet', type = 'text/css', href = '/static/css/note.css')

block content
	header
		h3 记个事儿吧，就不会忘了！
	article
		nav
			button(title = "新建类别", data-type = "type") 类别
			button(title = "新建记事本", data-type = "book") 记事本
			button(title = "新建记事", data-type = "note") 记事

		section.clearfix
			//- a.arrow_up
			.typebox
				.vbar
				span.blur
				ul#typelist
			//- a.arrow_down			
			//- a.arrow_left
			.bookbox
				ul.clearfix#booklist
			//- a.arrow_right

		.notebox(style = "display: none;")
			ul#notelist

		.formbox.typeform(style = "display: none;")
		.formbox.bookform(style = "display: none;")
		.formbox.noteform(style = "display: none;")

		include alert_tip.jade

block footer
	script(type = "text/javascript", src = "http://lib.dodo.com.cn:8080/My.js")
	script(type = "text/javascript", src = "/static/scripts/note.js")