@import url('fonticon.css');

.component-editor{
	position: relative;
	width: 100%;
	height: 100%;
	font: 18px Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
	background: #fff;
}

.component-editor-header{
	position: absolute;
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
}

.component-editor-commands{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.component-editor-commands::after{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.component-editor-commands>i{
	float: left;
	width: 1px;
	height: 24px;
	background: #a0a0a0;
	margin: 0 5px;
}

.component-editor-commands>a{
	position: relative;
	float: left;
	width: 24px;
	height: 24px;
	margin: 0 2px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all ease-out .25s;
}

.component-editor-commands>a.cur,
.component-editor-commands>a:hover{
	background: -webkit-linear-gradient(top,#fff,#efefef,#fff);
	background: -moz-linear-gradient(top,#fff,#efefef,#fff);
	background: -ms-linear-gradient(top,#fff,#efefef,#fff);
	background: -o-linear-gradient(top,#fff,#efefef,#fff);
	background: linear-gradient(top,#fff,#efefef,#fff);
	border-color: #e0e0e0;
	border-radius: 3px;
	color: #19a6e4;
}

.component-editor-commands>a::before{
	content: attr(data-alt);
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-top: 4px;
	margin-left: 4px;
	transition: all ease-out .25s;
}

.component-editor-commands>a[class^="icon-"]::before{
	content: '';
	font-weight: normal;
}

.component-editor-commands>a[data-cmd="sup"],
.component-editor-commands>a[data-cmd="sub"],
.component-editor-commands>a[data-cmd="clear"]{
	text-align: left;
}

.component-editor-commands>a[data-cmd="bold"]::before{
	font-weight: bolder;
}

.component-editor-commands>a[data-cmd="italic"]::before{
	font-style: italic;
}

.component-editor-commands>a[data-cmd="underline"]::before{
	text-decoration: underline;
}

.component-editor-commands>a[data-cmd="linethrough"]::before{
	margin-left: 0;
	font-size: 12px;
	text-decoration: line-through;
}

.component-editor-commands>a[data-cmd="sup"]::after,
.component-editor-commands>a[data-cmd="sub"]::after{
	position: absolute;
	top: 0;
	right: 0;
	content: '2';
	font-size: 12px;
	font-family: arial;
}

.component-editor-commands>a[data-cmd="sub"]::after{
	top: inherit;
	bottom: 0;
}

.component-editor-commands>a[data-cmd="color"]::before{
	color: blue;
}

.component-editor-commands>a[data-cmd="background"]::before{
	font-size: 12px;
	background: #ccc;
}

.component-editor-commands>a[data-cmd="clear"]::before{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.component-editor-commands>a[data-cmd="clear"]::after{
	position: absolute;
	bottom: 0;
	right: 0;
	content: 'x';
	font-size: 14px;
	font-family: arial;
}

.component-editor-commands>a.icon-undo::before{
	content: '\e625';
}

.component-editor-commands>a.icon-redo::before{
	content: '\e626';
}

.component-editor-commands>a.icon-undo.no::before,
.component-editor-commands>a.icon-redo.no::before{
	color: #a0a0a0;
}

.component-editor-commands>a.icon-justify::before{
	content: '\e6c6';
}

.component-editor-commands>a.icon-list::before{
	content: '\e646';
}

.component-editor-commands>a.icon-indent::before{
	content: '\e6ca';
}

.component-editor-commands>a.icon-image::before{
	content: '\e604';
}

.component-editor-commands>a.icon-face::before{
	content: '\e651';
}

.component-editor-commands>a.icon-link::before{
	content: '\e75c';
}

.component-editor-commands>a.icon-unlink::before{
	content: '\e75c';
}

.component-editor-commands>a.icon-unlink::after{
	position: absolute;
	bottom: 2px;
	right: 0;
	content: 'x';
	font-size: 14px;
	font-family: arial;
}

.component-editor-commands>a.icon-date::before{
	content: '\e61b';
}

.component-editor-menu{
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	list-style: none;
	border: 1px solid #6d7a89;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 9px #999;
	opacity: 0;
	transition: all ease-out .35s;
}

.component-editor-menu.visibility{
	opacity: 1;
}

.component-editor-menu.left{
	text-align: left;
}

.component-editor-menu>li{
	padding: 5px 10px;
	line-height: 18px;
	color: #000!important;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
}

.component-editor-menu.no-line-height>li{
	line-height: normal;
}

.component-editor-menu>li:hover{
	background: #DFF4F7;
}

.component-editor-menu>li.def{
	font-weight: bold;
	line-height: 22px;
	border-bottom: 1px solid #e9e9e9;
}

.component-editor-menu>li.cur{
	background: #D6CFCF;
}

.component-editor-menu>li.simsun{
	font-family: simsun,"宋体";
}

.component-editor-menu>li.nsimsun{
	font-family: nsimsun,"新宋体";
}

.component-editor-menu>li.fangsong{
	font-family: fangsong,"仿宋";
}

.component-editor-menu>li.simhei{
	font-family: simhei,"黑体";
}

.component-editor-menu>li.kaiti{
	font-family: kaiti,"楷体";
}

.component-editor-menu>li.lisu{
	font-family: lisu,"隶书";
}

.component-editor-menu>li.youyuan{
	font-family: youyuan,"幼圆";
}

.component-editor-menu>li.microsoft-yahei{
	font-family: "Microsoft yahei","微软雅黑";
}

.component-editor-menu>li.arial{
	font-family: Arial;
}

.component-editor-menu>li.arial-black{
	font-family: "Arial Black";
}

.component-editor-menu>li.comic-sans-ms{
	font-family: "Comic Sans MS";
}

.component-editor-menu>li.courier{
	font-family: Courier;
}

.component-editor-menu>li.system{
	font-family: System;
}

.component-editor-menu>li.times-new-roman{
	font-family: "Times New Roman";
}

.component-editor-menu>li.verdana{
	font-family: Verdana;
}

.component-editor-menu>li.georgia{
	font-family: Georgia;
}

.component-editor-menu>li.x-small{
	font-size: x-small;
}

.component-editor-menu>li.small{
	font-size: small;
}

.component-editor-menu>li.medium{
	font-size: medium;
}

.component-editor-menu>li.large{
	font-size: large;
}

.component-editor-menu>li.x-large{
	font-size: x-large;
}

.component-editor-menu>li.xx-large{
	font-size: xx-large;
}

.component-editor-menu>li.xxx-large{
	font-size: -webkit-xxx-large;
	font-size: -moz-xxx-large;
	font-size: xxx-large;
}

.component-editor-menu.coluor>li::before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: -2px 10px;
	border-radius: 2px;
}

.component-editor-menu>li.black{
	color: black;
}

.component-editor-menu>li.black::before{
	background: black;
}

.component-editor-menu>li.darkred{
	color: "darkred";
}

.component-editor-menu>li.darkred::before{
	background: "darkred";
}

.component-editor-menu>li.purple{
	color: purple;
}

.component-editor-menu>li.purple::before{
	background: purple;
}

.component-editor-menu>li.red{
	color: red;
}

.component-editor-menu>li.red::before{
	background: red;
}

.component-editor-menu>li.f0f{
	color: #f0f;
}

.component-editor-menu>li.f0f::before{
	background: #f0f;
}

.component-editor-menu>li.navy{
	color: navy;
}

.component-editor-menu>li.navy::before{
	background: navy;
}

.component-editor-menu>li.blue{
	color: blue;
}

.component-editor-menu>li.blue::before{
	background: blue;
}

.component-editor-menu>li.c0ff{
	color: #0ff;
}

.component-editor-menu>li.c0ff::before{
	background: #0ff;
}

.component-editor-menu>li.c008080{
	color: #008080;
}

.component-editor-menu>li.c008080::before{
	background: #008080;
}

.component-editor-menu>li.green{
	color: green;
}

.component-editor-menu>li.green::before{
	background: green;
}

.component-editor-menu>li.olive{
	color: olive;
}

.component-editor-menu>li.olive::before{
	background: olive;
}

.component-editor-menu>li.palegreen{
	color: "palegreen";
}

.component-editor-menu>li.palegreen::before{
	background: "palegreen";
}

.component-editor-menu>li.orange{
	color: orange;
}

.component-editor-menu>li.orange::before{
	background: orange;
}

.component-editor-menu>li.yellow{
	color: yellow;
}

.component-editor-menu>li.yellow::before{
	background: yellow;
}

.component-editor-menu>li.gray{
	color: gray;
}

.component-editor-menu>li.gray::before{
	background: gray;
}

.component-editor-menu>li.silver{
	color: silver;
}

.component-editor-menu>li.silver::before{
	background: silver;
}

.component-editor-menu>li.white{
	color: white;
	text-shadow: 1px 1px 0px #ccc;
}

.component-editor-menu>li.white::before{
	background: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.component-editor-menu>li[class^="icon-"]::before{
	position: relative;
	top: 2px;
	margin: 0 5px;
	content: '';
	font-size: 16px;
}

.component-editor-menu>li.icon-justify-left::before{
	content: '\e6c6';
}

.component-editor-menu>li.icon-justify-center::before{
	content: '\e6c7';
}

.component-editor-menu>li.icon-justify-right::before{
	content: '\e6c8';
}

.component-editor-menu>li.icon-justify-full::before{
	content: '\e6c9';
}

.component-editor-menu>li.icon-list-order::before{
	content: '\e647';
}

.component-editor-menu>li.icon-list-unorder::before{
	content: '\e646';
}

.component-editor-menu>li.icon-indent-increase::before{
	content: '\e6ca';
}
.component-editor-menu>li.icon-indent-decrease::before{
	content: '\e6cb';
}

.component-editor-content{
	height: 100%;
	padding-top: 40px;
	outline: none;
	cursor: text;
	box-sizing: border-box;
}

.component-editor-content>iframe{
	width: 100%;
	height: 100%;
	border: none;
}


.component-editor .component-form-win{
	width: 510px;
}

.component-editor .component-form-win.visibility{
	top: 50px;
}

.component-accordion-content.broswer p{
	margin: 0;
	padding: 5px;
	line-height: 32px;
	color: #777;
	text-indent: 2em;
}

.component-accordion-content.broswer a.component-btn{
	float: right;
	min-width: 100px;
	line-height: 30px;
	text-indent: 0;
}

.component-accordion-content.broswer a.component-btn input{
	display: block;
	position: absolute;
	top: 0;
	left: -70px;
	width: 148px;
	height: 28px;
	line-height: 28px;
	padding: 0;
	opacity: 0.0001;
	cursor: pointer;
}

.component-accordion-content.broswer span{
	display: block;
	overflow: hidden;
	color: red;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.component-accordion-item.cur>.component-accordion-content.url{
	height: 50px!important;
}

.component-editor-face-container{
	position: absolute;
	top: 40px;
	left: 0;
}